<h3>会員情報編集</h3>

<%= form_with model: @customer, url: customers_path do |f| %>
  <div>
    <p>氏名</p>

    <div class="field">
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.text_field :first_name %>
    </div>
  </div>

  <div>
    <p>フリガナ</p>

    <div class="field">
      <%= f.text_field :last_name_kana %>
    </div>

    <div class="field">
      <%= f.text_field :first_name_kana %>
    </div>
  </div>

  <div>
    <p>郵便番号</p>
    <%= f.text_field :postal_code %>
  </div>

  <div>
    <p>住所</p>
    <%= f.text_field :address %>
  </div>

  <div>
    <p>電話番号</p>
    <%= f.text_field :telephone_number %>
  </div>

  <div class="field">
    <p>メールアドレス</p>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "編集内容を保存" %>
  </div>

  <%= link_to "退会する", customers_confirm_path %>
<% end %>