<div class="container-lg">

  <div class="row", style="margin:20px 0;">
    <div class="col-3">
      <h3 style="background-color:lightgray; text-align:center;">会員一覧</h3>
    </div>
  </div>

  <div class="container-lg">

    <div>

      <table class="table">

       <tr class="table-secondary">
         <th>会員ID</th>
         <th>氏名</th>
         <th>メールアドレス</th>
         <th>ステータス</th>
       </tr>

       <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>

            <td>
              <%= link_to admin_customer_path(customer.id) do %>
                <%= customer.last_name %><%= customer.first_name %>
              <% end %>
            </td>

            <td><%= customer.email %></td>

            <td>
              <% if customer.is_active == true %>
                <p style="color:limegreen;">有効</p>
              <% else %>
                <p style="color:gray;">退会</p>
              <% end %>
            </td>
          </tr>
       <% end %>
      </table>

    </div>

  </div>

  <div class="row align-items-center justify-content-center">
    <%= paginate @customers %>
  </div>


</div>