<div class="container-lg">

  <div class="row", style="margin:20px 0;">
    <div class="col-3">
      <h3 style="background-color:lightgray; text-align:center;">注文履歴一覧</h3>
    </div>
  </div>

  <div class="container-lg">

    <table class="table table-bordered table-sm">

      <tr class="table-secondary">
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </tr>

        <% @orders.each do |order| %>
          <tr>
            <td>
              <%= order.created_at.strftime('%Y/%m/%d') %>
            </td>

            <td>
               〒<%= order.shipping_postal_code %></br>
               <%= order.shipping_address %></br>
               <%= order.shipping_name %>
            </td>

            <td>
              <% order.order_details.each do |order_detail| %>
                <%= order_detail.item.name %></br>
              <% end %>
            </td>

            <td>
              <%= order.payment.to_s(:delimited) %>円
            </td>

            <td>
              <%= order.status_i18n %>
            </td>

            <td>
              <%= link_to '表示する', order_path(order.id), class: "btn btn-primary" %>
            </td>

          </tr>

        <% end %>

    </table>

  </div>


</div>