<div class="container-lg">

  <div class="row", style="margin-top: 50px;">

    <div class="col-5">
      <%= image_tag @item.image, size: "300x200" %>
    </div>

    <div class="col-7">
      <h3 class="row"><%= @item.name %></h3>

      <h4 class="row"><%= @item.introduction %></h4>

      <h3 style="display:inline-block; margin-top:30px;">¥ <%= @item.add_tax_price.to_s(:delimited) %></h3>
        <p style="display:inline-block;">(税込)</p>

      <% if customer_signed_in? %>
        <div class="row", style="margin-top:30px;">
          <%= form_with model: @cart_item, url: cart_items_path do |f| %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.select :amount, *[1..10] %>
            <%= f.submit "カートに入れる", class: "btn btn-success" %>
          <% end %>
      
      <% end %>

      </div>

    </div>

  </div>

</div>